<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("./partials/head.html") %>
</head>

<body>
    <%- include("./partials/navigation.html") %>
    <div class="container p-5  container-cont">
        <div class="row">
            <div class="col-md-4 offset-md-4 mb-5">
                <div class="card animated flipInY mt-5 mb-5">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Log in</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit" onclick="obtenerDatos()"
                                    id="post-btn">
                                    Entrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.html") %>
    <script>
        function obtenerDatos() {
            var email = document.getElementById('email').value;
            var pd = document.getElementById('password').value;
            console.log(email);
            console.log(pd)
            var url = 'https://api.finerio.mx/api/login';
            var data = {
                username: email,
                password: pd
            };

            const sendData = () => {
                axios.post('https://api.finerio.mx/api/login',{
                    username:'jairhdzisidro@gmail.com',
                    password:'Dark5813'
                })
                .then(response =>{
                    console.log(response);
                })
            }
        }
    </script>
</body>

</html>